<div class="login-modal">=
    <div class="login-box">
        <h3>Login</h3>
        <label>Email</label>
        <input type="email" required>
        <label>Password</label>
        <input type="password" required>
        <!-- add new player login-->
    </div>
</div>