@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen';
}
header {
    background: #435464;
    padding: 20px 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./asset/Untitled_Artwork.jpg') no-repeat;
}

.logo {
    font-size: 4em;
    letter-spacing: 3px;
    color: #f4f0ec;
    user-select: none;
}

.navigation a {
    position: relative;
    color: #dcdcdc;
    font-size: 1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .login_button {
    border: 2px solid #dcdcdc;
    font-size: 1em;
    border-radius: 6px;
    width: 170px;
    height: 50px;
    background: transparent;
    outline: none;
    cursor: pointer;
    color: #dcdcdc;
    font-weight: 500px;
    margin-left: 40px;
    cursor: pointer;
}

.login-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.center-form {
    background:#435464;
    justify-content: center;
    align-content: center;
    display: flex;
    padding: 16px;
    top: 50%;
    left: 50;
    position: fixed;
    border: 3px solid #dcdcdc;
    border-radius: 6px;
    padding: 30px;
}

.pin-input {
    margin-bottom: 0.625rem;
    width: 100%;
    font-weight: bold;
    font-family: Oxygen;
    text-align: center;
    display: inline-block;
    position: relative;
    border-radius: 6px;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    border: 0.125rem solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
    min-width: 48px;
    min-height: 48px;
    padding: 0px 16px 4px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.pin-submit {
    width: 100%;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    box-shadow: rgba(0, 0, 0, 0.25) 0px -4px inset;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    min-width: 48px;
    min-height: 48px;
    padding: 0px 16px 4px;
    position: relative;
}

.player-welcome {
    top: 30%;
    left: 50;
    justify-content: center;
    align-content: center;
    display: flex;
    text-align: center;
    position: fixed;
    font-family: Oxygen;
    font-size: 35px;
    color: #f4f0ec;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}
